@import "../../assets/scss/utils";

.listItem {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 1px solid $border-color;
  font-weight: 600;
  border-radius: 10px;
  //cursor: pointer;
  @include transitionAll;
  //&:hover {
  //  box-shadow: 0 0 8px 3px $border-color;
  //}
  &.active {
    box-shadow: 0 0 8px 3px $border-color;
  }
}

.navButtonsWrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid $border-color;
  @include button;
  &:hover {
    & svg {
      fill: $primary-color;
    }
  }
  &:not(:last-child) {
    margin-right: 5px;
  }
  & svg {
    width: 15px;
    height: auto;
    fill: $border-color;
    @include transitionAll;
  }
}

.removeBtn {
  & .icon {
    width: 24px;
    height: auto;
    fill: $danger-color;
    @include transitionAll;
  }
  &:hover {
    & .icon {
      transform: scale(1.2)
    }
  }
}

.visibilityBtn {
  padding: 10px;
  margin-right: 10px;
  margin-left: auto;
  & .icon {
    width: 24px;
    height: auto;
    fill: $border-color-dark;
    @include transitionAll;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.inputWrapper {
  display: flex;
  align-items: center;
  max-width: 217px;
  position: relative;
  margin-left: 10px;
  border: 1px solid $border-color;
  padding: 8px 30px 8px 12px;
  border-radius: 20px;
  text-overflow: ellipsis;
  & .icon {
    width: 16px;
    height: auto;
    fill: $border-color-dark;
    opacity: 1;
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    @include transitionAll;
    &:hover {
      fill: $primary-color;
    }
  }
  & input {
    border: none;
    outline: none;
  }
  &.readOnly {
    border: none;
    & .icon {
      opacity: 0;
    }
  }
}